doctype html
html(language=en)
head
  title Web fitness app
  link(href='style.css', rel='stylesheet', type='text/css')
body
  div(class="home")
    div(class="MainTitle")
      h1 Web Fitness App 
    div(class="subtitle")
     em Using google fitness info to display workout information
    div(class="bottom")
      a(href="/api/fitnessAuth")
        button(type='button' class='button') Sign into Google Fitness
      
